%h2
  Profil #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :name, required: true, label: 'Név'
    = f.input :address
    = f.input :password, autocomplete: "off", hint: "hagyd üresen ha nem akarod módosítani", required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: "szükséges a jelenlegi jelszó a módosítások jóváhagyásához", required: true
  .form-actions
    = f.button :submit, "Frissítés"
%h3 Fiók törlése
%p
  Nem elégedett? #{link_to "Fiók törlése", registration_path(resource_name), data: { confirm: "Biztos vagy benne?" }, method: :delete}
= link_to "Vissza", :back
