%h1 Boltok
%table.table.table-striped
  %thead
    %tr
      %th Név
      %th Cím
      %th{:colspan => "3"}
  %tbody
    - @stores.each do |store|
      %tr
        %td
          =link_to store.name, store
        %td= store.address
        -if can? :manage, store
          %td= link_to 'Bolt szerkesztése', edit_store_path(store, form: 'store')
          %td= link_to 'Raktár módosítása', edit_store_path(store, form: 'inventory')
          %td= link_to 'Törlés', store, method: :delete, data: { confirm: 'Are you sure?' }
-if can? :create, Store
  %br/
  = link_to 'új bolt felétele', new_store_path
