%h1 Felhasználók

%table.table.table-striped
  %thead
    %tr
      %th Név
      %th Cím
      %th Email
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.address
        %td= user.email

        %td= link_to 'Szerkesztés', edit_user_path(user)
        %td= link_to 'Törlés', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
