= simple_form_for(@purchase) do |f|
  = f.error_notification


  .form-inputs
    %h3 Könyvek
    #books_stores
      = f.simple_fields_for :book_purchases do |book_purchase|
        = render 'book_purchase_fields', :f => book_purchase
      .links
        = link_to_add_association 'Új könyv hozzáadása a kosárba', f, :book_purchases
    = f.input :delivery_method, collection: ['Házhozszállítás', 'Bolti átvétel'], label: 'Szállítási mód'


  .form-actions
    = f.button :submit, 'Frissítés', name: "submit_button",value: "Mentes"
    = f.button :submit, name: "submit_button",value: "Lezaras"
