%h3 Vásárlások

%table.table.table-striped
  %thead
    %tr
      %th Rendelési szám
      %th Vásárló
      %th Dátum
      %th Összeg
      %th Szállítási mód
      %th

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.id
        %td= purchase.user.name
        %td= purchase.updated_at
        %td= purchase.total_cost.to_s + ' Ft'
        %td= purchase.delivery_method
        %td= link_to 'Kimutatás', purchase
