%p#notice= notice

%p
  %b Vásárló:
  = @purchase.user.name

%p
  %b Könyvek:
  - @purchase.book_purchases.each do |book_purchase|
    =book_purchase.book.title.to_s + ' db: ' + book_purchase.quantity.to_s + ' '

%p
  %b Szállítási mód:
  = @purchase.delivery_method
%p
  %b Teljes összeg:
  = @purchase.total_cost.to_s + ' Ft'

= link_to 'Vissza', purchases_path
