%p#notice= notice
%p
  %strong Név:
  = @publisher.name
%p
  %strong Könyvek:
  - @publisher.books.each do |book|
    = link_to book.title, book
-if can? :manage, @publisher
  = link_to 'Szerkesztés', edit_publisher_path(@publisher)
|
= link_to 'Vissza', publishers_path
