= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :author_id
    = f.input :publisher_id
    = f.input :published_date, as: :date
    = f.input :price
    = f.input :page_count
    = f.input :genre_id

  .form-actions
    = f.button :submit
