= form_for(@book) do |f|
  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :author_id
    %br/
    = f.number_field :author_id
  .field
    = f.label :publisher_id
    %br/
    = f.number_field :publisher_id
  .field
    = f.label :published_date
    %br/
    = f.date_select :published_date
  .field
    = f.label :price
    %br/
    = f.number_field :price
  .field
    = f.label :page_count
    %br/
    = f.number_field :page_count
  .field
    = f.label :genre_id
    %br/
    = f.number_field :genre_id
  .actions
    = f.submit
