%p#notice= notice
%p
  %strong Cím:
  = @book.title
%p
  %strong Leírás:
  = @book.description
%p
  %strong Szerző:
  = @book.author.name
%p
  %strong Kiadó:
  = @book.publisher.name
%p
  %strong Kiadás dátuma:
  = @book.published_date.strftime('%d-%m-%Y')
%p
  %strong Ár:
  = @book.price
  Ft
%p
  %strong Oldalszám:
  = @book.page_count
%p
  %strong Műfajok:
  - @book.genres.each do |genre|
    = genre.name
= link_to 'Szerkesztés', edit_book_path(@book)
|
= link_to 'Vissza', books_path
