%p#notice= notice
%p
  %strong Cím:
  = @book.title
%p
  %strong Leírás:
  = @book.description
%p
  %strong Szerző:
  =link_to @book.author.name, @book.author
%p
  %strong Kiadó:
  =link_to @book.publisher.name, @book.publisher
%p
  %strong Kiadás dátuma:
  = @book.published_date.strftime('%d-%m-%Y')
%p
  %strong Ár:
  = @book.price
  Ft
%p
  %strong Oldalszám:
  = @book.page_count
%p
  %strong Műfajok:
  - @book.genres.each do |genre|
    =link_to genre.name, genre
-if can? :edit, @book
  = link_to 'Szerkesztés', edit_book_path(@book)
|
= link_to 'Vissza', books_path
