%h1 Listing sub_genres

%table
  %thead
    %tr
      %th Name
      %th Genre
      %th
      %th
      %th

  %tbody
    - @sub_genres.each do |sub_genre|
      %tr
        %td= sub_genre.name
        %td= sub_genre.genre_id
        %td= link_to 'Show', sub_genre
        %td= link_to 'Edit', edit_sub_genre_path(sub_genre)
        %td= link_to 'Destroy', sub_genre, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sub genre', new_sub_genre_path
